# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
ios/Flutter/Generated.xcconfig
**/GeneratedPluginRegistrant.*
**/*.pb.dart

# Android specific
android/app/debug.keystore
android/app/release.keystore
*.iml
**/gradle-wrapper.jar
**/local.properties
**/.idea/
**/.idea/.name
**/.idea/.modules
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dart.xml
**/.idea/libraries
**/.idea/modules.xml
**/.idea/misc.xml

# iOS specific
Pods/
ios/Pods/
ios/Podfile.lock
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Release.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Visual Studio Code specific
.vscode/
*.code-workspace

# Android Studio specific
*.iml
.idea/
.gradle/
local.properties
*.iml
.gradle/
.idea/
.gradle/
.idea/*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries
.idea/runConfigurations
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/dart.xml
*.iml
